---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Standard",
    price: {
      monthly: "$350",
      annual: "$12",
      discount: "10%",
      original: "$12",
    },
    popular: false,
    features: [
      "Accès aux comptes de réseaux sociaux ( Facebook, Instagram, Snapchat et autres...)",
      "Accès aux mails: Gmail, Yahoo...",
      "Accès aux sms du téléphone",
      "Astro Sub domain",
      "Accéder a la Galerie photos et a tout les documents",
      "Suivre la position GPS en direct",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Medium",
    price: {
      monthly: "$500",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "Tout le Pack Mobile Standard",
      " Contrôler Toutes les applications",
      "20 Custom domains",
      "Suivre les Achats en ligne",
      "Récupérer l'adresse IP",
      "Accès complet a Whatsapp (voiceNotes, sms, appels, status)",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Premium",
    price: "$800",
    popular: false,
    features: [
      "Tout le pack mobile Medium",
      "Récupérer ou supprimes toutes les données",
      "Accéder secrètement a la camera et au microphones",
      "Enregistreur d'appels secrets",
      "Dedicated Account Manager",
      "Chatter sur n'importe quelles applications",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Tarifs">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Tarifs</Fragment>
      <Fragment slot="desc">
        Tarifs simples et predictifs sans surprise.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
